<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/account.css">
</head>
<body>
    <div id="container" >
        <main>
            <div id="inscriptionpageindex">
                <p>PARIE TERMINÉ :</p>
                <div id="scoreplayers">
                    
                    <ul id="listematch">
                    <% for(var i=0; i<result.length; i++) {%>
                        <li><%= result[i].playerone[0] %> <%= result[i].playerone[2] %> -- <%= result[i].playertwo[0] %> <%= result[i].playertwo[2] %> </li>
                     <% } %>
                    </ul>
                </div>
                <div id="info_game">
                    <p>Les touches du jeu Pong : </p>
                    <p>Fléche droite &rarr; = lancer la balle sense aléatoire pour commencer une partie</p>
                    <p>Fléche haut &uarr; = monter la barre du joueur</p>
                    <p>Fléche bas &darr; = décendre la barre du joueur</p>
                </div>
                <div id="playgame">
                    <a href="/game">COMMENCER UNE PARTIE</a>
                </div>
            </div>
        </main>
        <footer>
            <h2>© 2021 ROI-MIKE ENTERTAINMENT. Tous droits réservés <a href="https://www.linkedin.com/in/samuel-maboza-hondi/">MABOZA HONDI SAMUEL</a></h2>
        </footer>
    </div>

    <script src="../static/javascript/account.js"></script>
</body>
</html>