<nav>
    <div id="accueil">
        <a href="/">Accueil</a>
    </div>
    <div id="gamepang">
        <a href="/tchat">Game Pong</a>
    </div>
    <div id="tchat">
        <a href="/game">Tchat</a>
    </div>
    <div id="personnage">
        <span>Salut <%- pseudoid %> </span>
    </div>
</nav>