<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--CONTENEUR-->
    <div id="container" >
    


        <!--MESSAGE D'EURREUR-->
        <div id="erreurmessage">
            <div id="titleerreur" >
                <h2>PAGE <span>INTROUVABLE</span></h2>
                <p>erreur 404</p>
            </div>
            <div id="information_profil">
                <div id="information" >
                    <div id="image_erreur">
                        <img style="width:150px;height:150px" src="../static/images/dessin_erreur_fontome_1.png" alt="image d'un fontome" srcset="">
                    </div>
                    <div>
                        <p>INFOS</p>
                        <p>404</p>
                        <p>Ooops !</p>
                    </div>
                    <div id="information_formation">
                        <p>FORMATION</p>
                        <p>Centre de Formation : IFOCOP</p>
                    </div>
                    <div id="information_developpeur">
                        <p>Samuel Maboza Hondi</p>
                        <p><a href="https://www.linkedin.com/in/samuel-maboza-hondi/">LinkedIn</a></p>
                    </div>
                </div>
                <div id="profil">
                    <div id="message_profil">
                        <p>PROFIL</p>
                        <p>Il semblerait que la page demandée n'existe plus ou que l'offre ne soit plus en ligne</p>
                        <p>Oops !</p>
                    </div>
                    <div id="retour_accueil">
                        <p>RETOUR VERS LA PAGE D'AUCUEIL</p>
                        <p>SAM-PANG</p>
                        <span><a href="/">PAGE D'ACCUEIL</a></span>
                    </div>
                    <div id="profil_expertises">
                        <p>Introuvable</p>
                        <p>Gestion d'erreurs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>