<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="container" >
        <main>
            <div id="inscriptionpageindex">
                <%if( erreurpseudo ){%>
                    <div><%- erreurpseudo %></div>
                <%}%>
                <div id="alerinformationauclique" >
                    Helloooo 👨‍👩‍ <br/>
                    Enter un pseudo pour commencer une partie
                    <span id="quitter">X</span>
                </div>
                <form action="/" method="post">
                    <input name="pseudo" type="text" placeholder="votre pseudo" />
                    <input type="submit" value="Commencer à jouer" />
                </form>
            </div>
        </main>
        <footer>
            <h2>© 2021 ROI-MIKE ENTERTAINMENT. Tous droits réservés <a href="https://www.linkedin.com/in/samuel-maboza-hondi/">MABOZA HONDI SAMUEL</a></h2>
        </footer>
    </div>
    <script src="../static/javascript/index.js"></script>
</body>
</html>