<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="container" >
        <main>
            <div id="inscriptionpageindex-new">
                <img src="../static/images/console.png" alt="" srcset="">
                <h1>HONDI PONG</h1>
                <br>
                <br>
                <br>
                <form action="/" method="post">
                    <input name="pseudo" type="text" placeholder="Saisir un pseudo" />
                    <input type="submit" value="Commencer à jouer" />
                </form>
                <%if( erreurpseudo ){%>
                    <div style="color: red; font-size: 20px;"><%- erreurpseudo %></div>
                <%}%>
            </div>
        </main>
        <footer>
            <h2>© 2021 ROI-MIKE ENTERTAINMENT. Tous droits réservés <a href="https://www.linkedin.com/in/samuel-maboza-hondi/">MABOZA HONDI SAMUEL</a></h2>
        </footer>
    </div>
    <script src="../static/javascript/index.js"></script>
</body>
</html>